<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
	xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
	xmlns:int-jmx="http://www.springframework.org/schema/integration/jmx"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
    http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.2.xsd
    http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
    http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
    http://www.springframework.org/schema/integration/jmx http://www.springframework.org/schema/integration/jmx/spring-integration-jmx.xsd
    http://www.springframework.org/schema/integration/jdbc http://www.springframework.org/schema/integration/jdbc/spring-integration-jdbc-2.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd">

	<import resource="activemq.xml" />

	<int:gateway id="scheduleProcessGateway" service-interface="foo.process.ScheduleProcessGateway"
		default-request-channel="enqueueProcessChannel" default-reply-timeout="20000" />

	<int:publish-subscribe-channel id="enqueueProcessChannel" />

	<int-jms:outbound-channel-adapter id="processOutbound"
		channel="enqueueProcessChannel" connection-factory="jmsConnectionFactory"
		destination-name="processQueue" order="1" />
	<int:service-activator id="scheduleProcessResponder"
		input-channel="enqueueProcessChannel" ref="scheduleProcessResponseCreator"
		order="2" />

	<int-jms:message-driven-channel-adapter
		id="processScheduledJob" channel="processChannel" connection-factory="jmsConnectionFactory"
		destination-name="processQueue" acknowledge="transacted"
		max-concurrent-consumers="2" max-messages-per-task="1" />

	<int:channel id="processChannel">
		<int:interceptors>
			<int:wire-tap channel="loggingChannel" />
		</int:interceptors>
	</int:channel>

	<int:service-activator id="processChannelEP"
		input-channel="processChannel" output-channel="postProcessChannel"
		ref="scheduleProcessRunner" />
		
	<int:channel id="postProcessChannel" />

	<int:logging-channel-adapter channel="postProcessChannel"
		level="INFO" logger-name="scheduledProcessComplete" expression="'Post process channel'" />
		
	<int:logging-channel-adapter id="loggingChannel"
		log-full-message="true" level="DEBUG" />

</beans>